<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моє Портфоліо</title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
    <header>
        <h1>Савтира Олександр Сергійович</h1>
        <nav>
            <ul>
                <li><a href="/project1" class="btn">Проект 1</a></li>
                <li><a href="/project2" class="btn">Проект 2</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="about">
        <h2>Про мене</h2>
        <p>ПІБ: Савтира Олександр</p>
        <p>Дата народження: 09/01/2004</p>
        <p>Місце навчання: РфКІТ</p>
    </section>

    <section id="contact">
        <h2>Контакти</h2>
        <p>Номер тел. - +380667777777</p>
        <p>Ел. почта - osavtyra@rcit.ukr.education</p>
    </section>

    <footer>
        <p>&copy; 2024 Савтира Олександр</p>
    </footer>

</body>
</html>
